@font-face {
    font-family: 'basement';
    src: url(../fonts/basement.otf);
}

:root {
    --black-alternative: #24252a; 
    --black: black;
    --white: white;
    --green: rgb(0, 222, 0);
}

.helper {
    border: 2px solid blue
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
}

button {
    font-family: 'basement';
}

html {
    font-family: 'basement';
    font-size: 20px;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: var(--black-alternative);
}

html::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 5rem;
}

body {
    width: 100%;
    height: 100vh;
}

.bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#preloader {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;   
}

#preloader {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;   
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.titlebar {
    font-size: 24px;
}

header {
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.link {
    width: 80%;
    margin: 0 auto;
    height: 10vh;

    font-size: 16px;

    background-color: black;
    color: white;
    border: white 2px solid;
    border-radius: 50px;
    margin-top: 43px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.link:nth-child(1) {
    border: red 2px solid;
    color: red;
}

.link:nth-child(2) {
    border: rgb(0, 38, 255) 2px solid;
    color: rgb(0, 38, 255);
}

.link:nth-child(3) {
    border: rgb(0, 255, 64) 2px solid;
    color: rgb(0, 255, 64);
}

.link:nth-child(4) {
    border: rgb(255, 0, 170) 2px solid;
    color: rgb(255, 0, 170);
}

.link:hover {
    border: 2px solid red;
    color: red;
    transition: 600ms ease;
}